# AKS CODEOWNERS

# Changelog owners
/CHANGELOG.md @Azure/aks-pm

# Blog and Website owners
/website/ @Azure/aks-pm

# Global Owners
*  @palma21 @Azure/aks-leads

# CODEOWNERS file
/.github/CODEOWNERS @palma21
