---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* system colors */
$primary-color: #9F62EB;

/* system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



h1, h2, h3, h4, h5, h6 { 
  margin: 0 0 0 0;
}